@{
    ViewData["Title"] = "Admin";
}

<h1>I have no idea what admin functions we might provide.</h1>

<p>Some ideas:</p>
<ul>
    <li>Add new administrators</li>
    <li>Add new properties</li>
    <li>Edit properties</li>
</ul>